{% extends 'base.html.twig' %}


{% block body %}
	<center>
		<div class="p-5 mb-4 bg-light rounded-3">
			<h1>Scores</h1>
			<p>here you will find all the scores ...</p>
		</div>
        <div class="container">
        	<table class="table">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Correct</th>
						<th scope="col">Worng</th>
						<th scope="col">Score</th>
                        <th scope="col">Time </th>
					</tr>
				</thead>
				<tbody>
                {% for score in scores %}
					<tr>
						<th scope="row">{{ score.id }}</th>
						<td>{{ score.nbrOfCorrectAnsswers }}</td>
						<td>{{ score.nbrOfWrongAnswers }}</td>
						<td>{{ score.score }}</td>
                        <td>{{ score.playedAt | date("d/m/y h:i:s") }}</td>
					</tr>
                {% endfor %}
				</tbody>
			</table>
        </div>
	</center>


{% endblock %}

